---
title: Nackte Nutzer - Mathias Dalheimer
---

  <div id="Steckbrief" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Friedrich Nord</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-8 col-md-offset-2">
        <p><%= lorem.paragraph %></p>
        <p>
          <div id="chart_container">
            <div id="y_axis"></div>
            <div id="chart"></div>
          </div>
        </p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
      </div>
    </div>
  </div>


<style>
#chart_container {
        position: relative;
        top: 30px;
        bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
</style>


<script>
window.onload = function() {

  var data = <%= get_last_hour_rickshaw %>

  var graph = new Rickshaw.Graph( {
          element: document.querySelector("#chart"),
          width: 580,
          height: 350,
          series: [ {
                  color: 'steelblue',
                  data: data,
                  name: 'Watt'
          } ]
  } );

  var axes = new Rickshaw.Graph.Axis.Time( { graph: graph } );

  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
      graph: graph,
      xFormatter: function(x) { return "" },
      yFormatter: function(y) { return Math.round(y) }
  } );

  var y_axis = new Rickshaw.Graph.Axis.Y( {
          graph: graph,
          orientation: 'left',
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y_axis'),
  } );
    


  graph.render();
};
</script>

