---
title: Nackte Nutzer - Startseite
---
  <!-- Home Page -->
  <div id="home" class="page color-1">
    <div class="inner-page">
      <h2 class="page-headline large">Intelligente Stromzähler sind nicht intelligent.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-7 col-md-push-5 lazy-container">
        <%= image_tag 'ferrariszaehler.jpg', options = {
              :width => '500', 
              :height => '333', 
              :class => 'lazy', 
              :"data-original" => image_path('ferrariszaehler.jpg') 
            } %>
        <img class="lazy" alt="Looks great on every device" src="img/pixel.png" data-original="img/home.png" />
      </div>
      <div class="col-md-5 col-md-pull-7">
        <ul class="big-list">
          <li><i class="fa fa-eye"></i> Sie spionieren Dich aus.</li>
          <li><i class="fa fa-euro"></i> Sie sind teuer.</li>
          <li><i class="fa fa-warning"></i> Eigentlich braucht man sie nicht.</li>
        </ul>
        <br />
        <a href="#nutzer" title="Mehr erfahren" class="scroll btn btn-primary btn-centered"><i class="fa fa-caret-down"></i> Mehr erfahren</a>
      </div>
    </div>
  </div> <!-- /#home -->

      <!-- nutzer page-->
  <div id="nutzer" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Was ist ein Smart Meter?</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-8 col-md-offset-2">
        <p>Ein Smart Meter ist nichts anderes als ein elektronischer Stromzähler. Es gibt Modelle, die aktuellen Stromverbrauch auch an den Energieversorger übertragen können. Der Energieversorger (genauer der Messstellenbetreiber) kann dann sehen, wieviel Strom jeder einzelne Haushalt verbraucht. Für den Stromkunden ändert sich jedoch in den meisten Fällen nicht viel: Statt des alten, schwarzen Kasten hängt jetzt ein grauer Kasten im Keller.
        </p>
        <p>Schaut man sich jedoch die Stromkurven genauer an, stellt man fest, dass man aus den Stromverbrauchskurven sehr viel über den Haushalt erfahren kann. Ein Beispiel:
        </p>
        <p><%= image_tag "Espressomaschine.png", :width => '652', :height => '383', :class => 'center', :alt => "Stromverbrauch mit Espressomaschine" %></p>

      </div>

    </div>


    <hr>
    <div class="inner-page">
      <h2 class="page-headline">Finde heraus, was diese Menschen gerade tun</h2>
    </div>

    <div class="inner-page row">
      <ul class="features list-inline">
        <% data.nutzer.each do |nutzer| %>
        <li>
          <p><%= image_tag nutzer.imagefile, :width => '150', :height => '150', :class => 'center', :alt => nutzer.name %></p>
          <p><a class="btn btn-default" href="<%= "/nutzer/#{nutzer.page}" %>" role="button">Ausspionieren &raquo;</a></p>
          </li>
        <% end %>
      </ul>
    </div>


  </div> <!-- /#nutzer -->
      
  <!-- Assets page -->
  <div id="assets" class="page color-3">
    <div class="inner-page">
      <h2 class="page-headline">Page assets</h2>
    </div>

    <!-- Vectors -->
    <div class="row inner-page">
      <div class="col-md-6 lazy-container">
        <img class="figurette lazy" alt="Original vectors" src="img/pixel.png" data-original="img/responsive-vectors.png" />
      </div>
      <div class="col-md-6">
        <h3>5 vectors included</h3>
        <p class="lead">Zombie ipsum
          <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeirtis.</p>
        <p>The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro..</p>
      </div>
    </div>  <!-- /vectors -->

    <hr>

    <!-- Big laptop -->
    <div class="row inner-page">
      <div class="col-md-offset-1 col-md-10">
        <div class="lazy-container lazy-large btn-container loaded">
          <div class="btn-container">
            <img class="figurette lazy " src="img/laptop-blue@2x.png" data-original="img/laptop-blue@2x.png" alt="view image in lightbox" style="display: inline;">
            <a href="img/superman.jpg" class="lightbox btn-play" target="_blank">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Clients -->
    <div class="clients color-1">
      <div class="inner-page">
        <h2 class="page-headline">Who's using stories.</h2>
      </div>
      <div class="inner-page row">
        <ul class="clients list-inline">
          <li><i class="fa fa-globe"></i> Earth</li>
          <li><i class="fa fa-heart"></i> Love</li>
          <li><i class="fa fa-leaf"></i> Leaves</li>
          <li><i class="fa fa-cloud"></i> Clouds</li>
        </ul> 
      </div>
    </div>
  </div> <!-- /#assets -->
 
  <!-- About page -->
  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Who are we and how it all got started. Our story.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-6  lazy-container">
        <img class="figurette lazy" src="img/pixel.png" data-original="img/green-office.png" alt="Our workspace" />
      </div>
      <div class="col-md-6">
        <h3>Zonbi tattered for solum.</h3>
        <p class="lead">The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.</p>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
      </div>
    </div>

    <hr>

    <!-- Team -->
    <div class="row inner-page team">
      <div class="col-md-6">
        <img class="pull-left" src="img/cookies2.png" alt="A cookie" />
        <h4>Jane Doe</h4>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
        <ul>
          <li><i class="fa fa-home"></i>  <a href="prettystrap.com">http://prettystrap.com</a>
          </li>
          <li><i class="fa fa-envelope-o"></i>  <a href="info@email.com">info@email.com</a>
          </li>
          <li class="social">
            <a href="#about"><i class="fa fa-facebook-square"></i></a>
            <a href="#about"><i class="fa fa-twitter"></i></a>
            <a href="#about"><i class="fa fa-github-square"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 team2">
        <img class="pull-left" src="img/cookies.png" alt="A cookie" />
        <h4>John Doe</h4>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
        <ul>
          <li><i class="fa fa-home"></i>  <a href="prettystrap.com">http://prettystrap.com</a>
          </li>
          <li><i class="fa fa-envelope-o"></i>  <a href="info@email.com">info@email.com</a>
          </li>
          <li class="social">
            <a href="#about"><i class="fa fa-facebook-square"></i></a>
            <a href="#about"><i class="fa fa-twitter"></i></a>
            <a href="#about"><i class="fa fa-github-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- /#about -->

  <!-- Contact page -->
  <div id="contact" class="page color-2">
    <div class="inner-page">
      <h2 class="page-headline">Get in touch and stay updated</h2>
    </div>
    <div class="row inner-page contact">
      <div class="col-md-6">
        <h3>What's on your mind?</h3>
        <form id="contact-form">
          <textarea rows="6" class="form-control" placeholder="Your story"></textarea>
          <input type="text" class="form-control" placeholder="your@e-mail.com">
          <input type="text" class="form-control" placeholder="Name">
          <button class="btn btn-primary btn-centered">Contact us</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="btn-container centered lazy-container text-center">
          <img src="img/pixel.png" class="lazy figurette" alt="Open the map" data-original="img/map.png" />
          <a class="lightbox iframe  btn-map" target="blank" title="Open google maps" href="https://maps.google.com/maps?q=Stationsplein,+1012+Centrum,+Amsterdam,+Noord-Holland,+The+Netherlands&amp;hl=en"><i class="pull-left fa fa-map-marker"></i><div>Stationsplein, 1012 AB,<br />Amsterdam,<br /> The Netherlands</div></a>
        </div>
      </div>
    </div>
  </div> <!-- /#contact -->

  <!-- Newsletter -->
  <div class="newsletter color-1">
    <div class="inner-page row">
      <div class="col-md-4">
        <h4>
          <strong>Be cool</strong>, subscribe to get our latest news</h4>
      </div>
      <div class="col-md-6">
        <input type="email" placeholder="your@e-mail.com" name="EMAIL" class="subscribe">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary pull-right btn-block">Subscribe</button>
      </div>
    </div>
  </div> <!-- /newsletter -->
